@{
    ViewData["Title"] = "Integrantes";
}


<div class="integrantes-list">
    <div class="integrante-card">
        <img src="~/fotos/AUGUSTO.PNG.png" alt="Augusto Perez Rodriguez" class="integrante-image">
        <h2 class="integrante-name">Augusto Perez Rodriguez</h2>
        <p class="integrante-role">Desarrollador</p>
    </div>
    <div class="integrante-card">
        <img src="~/fotos/FELI.PNG.png" alt="Felipe Alberto Plat" class="integrante-image">
        <h2 class="integrante-name">Felipe Alberto Plat</h2>
        <p class="integrante-role">Desarrollador</p>
    </div>
    <div class="integrante-card">
        <img src="~/fotos/URI.PNG.png" alt="Martin Uriel Garfield" class="integrante-image">
        <h2 class="integrante-name">Martin Uriel Garfield</h2>
        <p class="integrante-role">Desarrollador</p>
    </div>
    <div class="integrante-card">
        <img src="~/fotos/Cursor.png" alt="Curosr" class="integrante-image">
        <h2 class="integrante-name">Curosr</h2>
        <p class="integrante-role">Ayudante</p>
    </div>
</div>

<div style="text-align:center; margin: 20px 0 40px 0;">
    <a href='@Url.Action("Index", "Home")' class="home-button">Volver al Inicio</a>
  </div>

